/* YAHOO RESET FONTS N GRIDS v2.5.2 */
body, .doc4 {zoom:1;}
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
body{text-align:center;}#ft{clear:both;}#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:56.25em;min-width:750px;}#doc2{width:73.076em;*width:71.25em;}#doc3{margin:auto 10px;width:auto;}#doc4{width:74.923em;*width:73.05em;}.yui-b{position:relative;}.yui-b{_position:static;}#yui-main .yui-b{position:static;}#yui-main{width:100%;}.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em;}.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em;}.yui-t1 .yui-b{float:left;width:12.30769em;*width:12.00em;}.yui-t1 #yui-main .yui-b{margin-left:13.30769em;*margin-left:13.05em;}.yui-t2 .yui-b{float:left;width:13.8461em;*width:13.50em;}.yui-t2 #yui-main .yui-b{margin-left:14.8461em;*margin-left:14.55em;}.yui-t3 .yui-b{float:left;width:23.0769em;*width:22.50em;}.yui-t3 #yui-main .yui-b{margin-left:24.0769em;*margin-left:23.62em;}.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.50em;}.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.55em;}.yui-t5 .yui-b{float:right;width:18.4615em;*width:18.00em;}.yui-t5 #yui-main .yui-b{margin-right:19.4615em;*margin-right:19.125em;}.yui-t6 .yui-b{float:right;width:23.0769em;*width:22.50em;}.yui-t6 #yui-main .yui-b{margin-right:24.0769em;*margin-right:23.62em;}.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0;}#yui-main .yui-b{float:none;width:auto;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u{float:right;}.yui-g div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first,.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-gc div.first div.first{float:left;}.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf{width:49.1%;}.yui-gb .yui-u,.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{width:32%;margin-left:1.99%;}.yui-gb .yui-u{*margin-left:1.9%;*width:31.9%;}.yui-gc div.first,.yui-gd .yui-u{width:66%;}.yui-gd div.first{width:32%;}.yui-ge div.first,.yui-gf .yui-u{width:74.2%;}.yui-ge .yui-u,.yui-gf div.first{width:24%;}.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0;}.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u{width:49%;*width:48.1%;*margin-left:0;}.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first{*margin-right:0;*width:32%;_width:31.7%;}.yui-g .yui-gc div.first,.yui-gd .yui-g{width:66%;}.yui-gb .yui-g div.first{*margin-right:4%;_margin-right:1.3%;}.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first{*margin-right:0;}.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u{*margin-left:1.8%;_margin-left:4%;}.yui-g .yui-gb .yui-u{_margin-left:1.0%;}.yui-gb .yui-gd .yui-u{*width:66%;_width:61.2%;}.yui-gb .yui-gd div.first{*width:31%;_width:29.5%;}.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u{width:32%;_float:right;margin-right:0;_margin-left:0;}.yui-gb .yui-gc div.first{width:66%;*float:left;*margin-left:0;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u{margin:0;}.yui-gb .yui-gb .yui-u{_margin-left:.7%;}.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first{*margin-left:0;}.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u{*width:48.1%;*margin-left:0;}s .yui-gb .yui-gd div.first{width:32%;}.yui-g .yui-gd div.first{_width:29.9%;}.yui-ge .yui-g{width:24%;}.yui-gf .yui-g{width:74.2%;}.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u{float:right;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first{float:left;}.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first{*width:24%;_width:20%;}.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u{*width:73.5%;_width:65.5%;}.yui-ge div.first .yui-gd .yui-u{width:65%;}.yui-ge div.first .yui-gd div.first{width:32%;}#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1;}
/* END*/
/* Foundations */
body,html{background-color:#666666;color:#999999;font-family:"Trebuchet MS",Arial,sans-serif;height:100%;}
div{background-repeat:no-repeat;}
#doc4{min-height:100%;background-color:#660000;border-left:1px solid #333;border-right:1px solid #333;}
#hd{background:#fff url('http://www.maskitalia.com/assets/images/assets/pk_pgbg_long.jpg') repeat-x;background-position:0px -20px;width:974px;height:117px;}
#bd{background-color:#fff;min-height:80%;width:974px;}
#phone_number{background:transparent url('http://www.maskitalia.com/assets/images/assets/maskitalia-mainmenu-sprite-v2.png') no-repeat 0px -160px;height:16px;width:124px;float:left;margin-left:10px;display:block;}
#ft{background-color:#660000;text-align:right;padding:2px 5px 2px 0;font-size:10px;color:#440000;width:969px;}
a {
	outline: none;
}
/* essentials */
span.hide{display:none;}
.cl{clear:both;height:0;margin:0;padding:0;line-height:0;font-size:10%;}
/* Main Menu */
#main_menu{display:block;float:right;margin:97px 2px 0 0;}
#main_menu li{float:left;line-height:7px;border-right:1px solid #909090;border-left:1px solid #909090;padding:0 6px;}
#main_menu li.first{border-left:0px solid white;}
#main_menu li.last{border-right:0px solid white;}
#main_menu_item1 a,#main_menu_item2 a,#main_menu_item3 a,#main_menu_item4 a,#main_menu_item5 a,#main_menu_item a{display:block;background-image:url('http://www.maskitalia.com/assets/images/assets/maskitalia-mainmenu-sprite-v2.png');color:transparent;}
#main_menu_item1 a{background-position:0px 0px;width:112px;height:10px;}
#main_menu_item2 a{background-position:0px -25px;width:157px;height:10px;}
#main_menu_item3 a{background-position:0px -80px;width:68px;height:10px;}
#main_menu_item4 a{background-position:0px -105px;width:49px;height:10px;}
#main_menu_item5 a{background-position:0px -130px;width:92px;height:10px;}
/* Side Menu */
#side_menu_header{background-image:url('http://www.maskitalia.com/assets/images/assets/maskitalia-sidemenu-sprite-v4.png');height:49px;width:288px;}
body.page #side_menu_header{clear:both;margin:20px 0 0 40px;}
body.michela #side_menu_header{background-position:0px 0px;}
body.lucia #side_menu_header{background-position:0px -51px;}
body.carlo #side_menu_header{background-position:0px -102px;}
body.massimo #side_menu_header{background-position:0px -153px;}
body.bijan #side_menu_header{background-position:0px -204px;}
body.antonia #side_menu_header{background-position:0px -272px;}
body.orderform #side_menu_header{background-position:-136px -324px;background-repeat: repeat-x;}
body.events #side_menu_header{background-position:-79px -377px;}
body.wholesale #side_menu_header{background-position:-167px -438px;}
body.history #side_menu_header{background-position:-192px -489px;}
body.headquarters #side_menu_header{background-position:0px -548px;}
#side_menu ul li,#side_menu a{display:block;background-image:url('http://www.maskitalia.com/assets/images/assets/maskitalia-sidemenu-sprite-v4.png');float:right;clear:both;height:17px;width:167px;}
#side_menu_item1 a{background-position:145px -623px;}
#side_menu_item1 a:hover{background-position:145px -606px;}
body.michela #side_menu_item1 a{background-position:145px -606px;}
#side_menu_item2 a{background-position:145px -657px;}
#side_menu_item2 a:hover{background-position:145px -640px;}
body.lucia #side_menu_item2 a{background-position:145px -640px;}
#side_menu_item3 a{background-position:145px -691px;}
#side_menu_item3 a:hover{background-position:145px -674px;}
body.carlo #side_menu_item3 a{background-position:145px -674px;}
#side_menu_item4 a{background-position:145px -725px;}
#side_menu_item4 a:hover{background-position:145px -708px;}
body.massimo #side_menu_item4 a{background-position:145px -708px;}
#side_menu_item5 a{background-position:145px -759px;}
#side_menu_item5 a:hover{background-position:145px -742px;}
body.bijan #side_menu_item5 a{background-position:145px -742px;}
#side_menu_item6 a{background-position:145px -793px;}
#side_menu_item6 a:hover{background-position:145px -776px;}
body.antonia #side_menu_item6 a{background-position:145px -776px;}
#side_menu_item7 a{background-position:145px -810px;}
/* navigator */
#navigator{clear:both;}
#navigator li{display:block;float:left;margin:6px;}
#navigator a{display:block;float:left;background-image:url('http://www.maskitalia.com/assets/images/assets/maskitalia-nav-sprite.png');background-repeat:repeat-x;height:11px;width:8px;}
#first_button a{background-position:1px -28px;}
#first_button a:hover{background-position:1px -75px;height:11px;width:8px;}
#previous_button a{background-position:0px -28px;}
#previous_button a:hover{background-position:0px -75px;height:11px;width:8px;}
#next_button a{background-position:0px -4px;}
#next_button a:hover{background-position:0px -51px;height:11px;width:8px;}
#last_button a{background-position:-1px -4px;}
#last_button a:hover{background-position:-1px -51px;height:11px;width:8px;}
/* thumbs */
#thumbs {
	overflow: hidden; 
	height: 67px;
}
.thumb img{background:transparent url('http://www.maskitalia.com/assets/images/assets/frame.png') repeat-x 0px 0px;padding:11px 10px;}
#thumbs ul li{display:block;float:left;margin-top:0px;margin-right:10px;}
#thumb-nav{background-color:#660000;padding-bottom:22px;clear:right;}
#thumb-nav li{font-weight:bold;float:left;margin:1px 1% 0pt;font-family:Verdana,arial,sans-serif;font-size:10px;line-height:19px;}
#thumb-nav li a{color:#eee;text-decoration:none;}
.active {text-decoration:underline !important;}
/* mask viewer */
#image_viewer{height:350px;min-height:350px;margin-left:200px;}
.maskimage{height:260px;min-height:260px;}
p{color:#999999;font-family:"Trebuchet MS",arial,sans-serif;font-size:12px;margin:3px 0px 6px 3px;}
.title{color:#660000;font-family:Verdana,arial,sans-serif;font-size:16px;font-weight:bold;margin-bottom:6px;}
.thumb-container{background-color:#660000;padding:10px;}
body.page h3{font-family:Verdana,Arial,Helvetica,sans-serif;color:#990000;font-size:100%;font-weight:bold;}
body.page p{color:#333333;font-size:93%;font-family:Verdana,Arial,Helvetica,sans-serif;text-align:justify;padding:5px 0px;}
body.page p.large{font-size:108%;}
body.page a:link{color:#660000;font-weight:bold;text-decoration:none;}
body.page a:active{color:#660000;font-weight:bold;text-decoration:none;}
body.page a:visited{color:#660000;font-weight:bold;text-decoration:none;}
body.page a:hover{color:#660000;font-weight:bold;text-decoration:underline;}
body.page img.img-float-left{padding:5px 15px;float:left;}
body.page img.img-float-right{padding:5px 15px;float:right;}
body.page p.list{color:#666666;font-size:85%;font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:bold;margin:24px 0px 12px 24px;text-align:left;}
div.half-page-text-container{padding:0pt 50px 10px;margin-bottom:60px;}
div.full-page-text-container{width:92%;margin:0 auto 60px;}
div.page-image-container{text-align:center;margin-top:20px;}
/* update for cc logos */
.yui-gc {
	position:relative;
}
div.cc-logos {
	position:absolute;
	bottom:10px;
	right:10px;
	text-align:right;
	font-size:12px;
	color:#660000;
}
div.maskimage {
	position:relative;
}
div.enlarger_button {
	background: transparent url('http://www.maskitalia.com/assets/images/assets/enlarge.jpg') no-repeat 0 0;
	height:20px;
	width:20px;
	position:absolute;
	bottom:0;
	right:0;
	display:block;
}
img.enlargeable {
	cursor:pointer;
	cursor:-webkit-zoom-in;
	cursor:-moz-zoom-in;
}
body.reduceable {
	cursor:pointer;
	cursor:-webkit-zoom-out;
	cursor:-moz-zoom-out;
}
div.enlarger-container {
	position:absolute;
	top:0;
	left:0;
}
div.enlarger-mask {
	opacity:0.5;
	display:block;
	overflow:hidden;
	background-color:white;
	filter: alpha(opacity=50);
}
div.enlarger-image-container {
	background-color:white;
	position:absolute;
	overflow:hidden;
	border:10px solid white;
	line-height:0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0.4em 0.4em 1em -0.2em black;
	-webkit-box-shadow: 0.4em 0.4em 1em -0.2em black;
}