# -FrontPage-
RewriteEngine on     
# Nick's Performance Settings
# Turn on for speed
SetOutputFilter DEFLATE
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ \
    no-gzip dont-vary
SetEnvIfNoCase Request_URI \
    \.(?:exe|t?gz|zip|bz2|sit|rar)$ \
    no-gzip dont-vary
SetEnvIfNoCase Request_URI \.pdf$ no-gzip dont-vary
# If client accepts compressed files
#RewriteCond %{HTTP:Accept-Encoding} gzip
# and if compressed file exists
#RewriteCond %{REQUEST_FILENAME}.gz -f
# send .html.gz instead of .html
#RewriteRule ^(.+\.htm)$ /$1.gz [L]


#Header unset ETag
#FileETag None
#Header unset Last-Modified
#ExpiresActive On
#ExpiresDefault "access plus 1 seconds"
#ExpiresByType text/html "access plus 1 seconds"
#ExpiresByType image/gif "access plus 2592000 seconds"
#ExpiresByType image/jpeg "access plus 2592000 seconds"
#ExpiresByType image/png "access plus 2592000 seconds"
#ExpiresByType text/css "access plus 604800 seconds"
#ExpiresByType text/javascript "access plus 216000 seconds"
#ExpiresByType application/x-javascript "access plus 216000 seconds"
#<IfModule mod_headers.c>
#<FilesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
#Header set Cache-Control "max-age=2592000, public"
#</FilesMatch>
#<FilesMatch "\\.(css)$">
#Header set Cache-Control "max-age=604800, public"
#</FilesMatch>
#<FilesMatch "\\.(js)$">
#Header set Cache-Control "max-age=216000, private"
#</FilesMatch>
#<FilesMatch "\\.(xml|txt)$">
#Header set Cache-Control "max-age=216000, public, must-revalidate"
#</FilesMatch>
#<FilesMatch "\\.(html|htm|php)$">
#Header set Cache-Control "max-age=1, private, must-revalidate"
#</FilesMatch>
#</IfModule>
RewriteRule ^order$ /cgi-bin/FormMail.form.pl